{% assign pages = site.pages | sort:"weight"  %}
<header xmlns="http://www.w3.org/1999/html">
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="http://github.com/crazzle"><i class="fa fa-github fa-lg"></i><b> [Repos] </b></a>
        <ul class="nav">
          {% for p in pages %}
              <li><a href="{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>
