<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}
    <div class="container">
      <div class="row">

        <div class="bs-docs-sidebar span2">
          <ul class="nav nav-list bs-docs-sidenav">
            {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>


        <div class="span6">
          {{ content }}
        </div>


        <div class="span4">
          <div class="card hovercard">
            <img src="{{ '/resources/img/duck.JPG' | prepend: site.baseurl }}" alt=""/>
            <div class="avatar">
              <img src="https://avatars1.githubusercontent.com/u/471120?v=3&s=460" alt="" />
            </div>
            <div class="info">
              <div class="title">
                <a href="https://github.com/crazzle">Mark Keinhörster</a>
              </div>
              <div class="desc">Software Engineer</div>
              <div class="desc">Technical Enthusiast</div>
              <div class="desc">Passionated Snowboarder</div>
            </div>
            <div class="bottom">
              <a href="https://twitter.com/kein_mark" class="btn btn-block">
                Follow on Twitter
              </a>
              <a href="https://plus.google.com/u/0/+MarkK-crazzle/posts" rel="publisher" class="btn btn-block">
                Follow on Google+
              </a>
              <a href="https://www.facebook.com/mark.keinhoerster" rel="publisher" class="btn btn-block">
                Follow on Facebook
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
    {% include footer.html %}

    </body>
</html>