---
layout: default
---
<div class="card">
  <div class="card-heading image">
    <img src="https://avatars1.githubusercontent.com/u/471120?v=3&s=460" alt=""/>
    <div class="card-heading-header">
      <h3>{{ page.title }}</h3>
      <span>Published {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
    </div>
  </div>
  <div class="card-body">
    <p>
      {{ content }}
    </p>
  </div>
  <div class="card-actions">
    <a class="btn btn-inverse" type="button" href="https://twitter.com/home?status={{ page.url | prepend: site.baseurl | prepend: site.url }}">Share on Twitter</a>
    <a class="btn btn-inverse" type="button" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}">Share on Facebook</a>
    <a class="btn btn-inverse" type="button" href="https://plus.google.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}">Share on Google+</a>
  </div>
</div>